input.style-input {
    border: 1px solid #d6d6d6;
    outline: none;
    border-radius: 3px;
    background-color: #f5f5f5;
    padding: 0 15px;
    height: 42px;
    &:hover,
    &:focus,
    &:active {
        background-color: #fff;
    }
    &.search_input {
        color: #9e9e9e;
        font-size: 13px;
        font-style: italic;
        background-image: url(../image/search-blau.png);
        background-repeat: no-repeat;
        background-position: 95% center;
    }
}


select.style-select {
    background-color: #fefdfd;
    border: 1px solid #dbdada;
    outline: none;
    border-radius: 0;
    padding: 0 6px;
    color: #252525;
    font-size: 14px;
    font-weight: 400;
    height: 35px;
    color: #818181;
    cursor: pointer;

    background-image: url(../img/style-select.svg);
    background-position: 97% center;
    background-repeat: no-repeat;
    background-size: 12px;

    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    appearance: none!important;
    outline: none;

	&::-ms-expand { display: none; }
    &:hover {
        background-color: #fff;
        border-color: #4594bd;
    }
    > option {
        padding: 5px 15px;
    }
}


textarea.style-textarea {
    border: 1px solid #d6d6d6;
    outline: none;
    border-radius: 3px;
    background-color: #f5f5f5;
    padding: 10px 15px;
    font-family: 'Open Sans', sans-serif;
    &:hover,
    &:focus,
    &:active {
        background-color: #fff;
    }
}


//checkbox-button
.checkbox {
   $size: 16px;
    & + label {
        cursor: pointer;
        padding-left: 27px;
        line-height: 1.2;
        font-size: 14px;
        font-weight: 400;
        color: rgba(#565353, .65);
        min-height: 16px;
        display: flex;
        align-items: center;
        @include unSelect;
        margin: 12px 0;
        transition: 0.2s;
        @include tablet {
           font-size: 12px;
        }
        &:hover {
           color: rgba(#565353, 1);
        }
    }
    &:not(checked) {
        position: absolute;
        opacity: 0;
        & + label {
            position: relative;
        }
        // border checked
        & + label:before {
            content: '';
            position: absolute;
            width: $size;
            height: $size;
            border-radius: 3px;
            top: 0;
            left: 0;
            border: 1px solid #9b9b9b;
        }
        // icons checked
        & + label:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: $size + 4;
            height: $size;
        }
    }
    &:checked  {
      & + label {color: rgba(#565353, 1); }
      & + label:after {
            background-image: url(../img/checkbox.png);
            background-repeat: no-repeat;
            background-position: 4px 0;
        }
    }
}



//radio-button (design finZdor)
input[type='radio'].style-radio {
    & + label {
        cursor: pointer;
        font-size: 14px;
        font-weight: 600;
        color: #838383;
        display: flex;
        align-items: center;
        @include unSelect;
    }
    &:not(checked) {
        position: absolute;
        opacity: 0;
        & + label {
            position: relative;
        }
        & + label:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 21px;
            height: 21px;
            border: 1px solid #dadada;
            border-radius: 50%;
            background: #f5f5f5;
            position: relative;
            margin-right: 7px;
        }
        & + label:after {
            content: '';
            position: absolute;
            top: 6px;
            left: 6px;
            width: 9px;
            height: 9px;
            border-radius: 50%;
            background-color: #e4332d;
            opacity: 0;
        }
    }
    &:checked {
        & + label {
            color: #e4332d;
        }
        & + label:after {
            opacity: 1;
        }
    }
}

//END radio-button


.input-error {
    font-size: 12px;
    color: #e4332d;
    display: block;
    padding-top: 3px;
    text-align: right;
}
