footer {
   width: 100%;
   height: 230px;
   background-color: #333;
   position: relative;
   z-index: 1;
   @include max1024 {
      height: 345px;
   }
   @include tablet {
      height: 450px;
   }
   @include mobile {
      height: 750px;
   }
   @include mobile-small {
      height: 1040px;
   }
   .container {
      &.top_footer {
         height: calc(100% - 30px);
         display: flex;
         justify-content: space-between;
         @include max1024 {
            flex-direction: column;
         }
         @include mobile {
            justify-content: flex-start;
         }
         .logo_end_menu {
            width: 100%;
            display: flex;
            justify-content: space-between;
            @include mobile {
               flex-direction: column;
            }
            .logo_footer {
               width: 305px;
               height: 100%;
               background-image: url(../img/logo-footer.png);
               background-repeat: no-repeat;
               background-position: 35px center;
               @include max1024 {
                  width: 200px;
                  margin-right: 30px;
                  background-position: center 30px;
                  background-size: 120px;
               }
               @include mobile {
                  width: 100%;
                  height: 130px;
               }
               @include mobile-small {
                  background-image: url(../img/logo-footer-mobile.png);
                  background-size: 180px;
                  margin: 0;
                  height: 120px;
               }
            }
            .navigation_footer {
               display: flex;
               justify-content: space-between;
               margin-top: 20px;
               @include max1024 {
                  width: calc(100% - 230px);
               }
               @include tablet {
                  flex-wrap: wrap;
               }
               @include mobile {
                  width: 100%;
                  justify-content: center;
                  margin-bottom: 20px;
               }
               @include mobile-small {
                  margin-top: 0;
               }
               > ul {
                  margin-right: 40px;
                  @include tablet {
                     margin-right: 15px;
                     &:nth-child(4) {
                        width: 100%;
                        > li:not(:nth-child(1)) {
                           width: 45%;
                           display: inline-flex;
                        }
                     }
                  }
                  @include mobile {
                     width: 40%;
                     margin: 0 20px;
                     &:nth-child(3) {
                        margin-top: 30px;
                     }
                     &:nth-child(4) {
                        width: 40%;
                        margin-top: 30px;
                        > li:not(:nth-child(1)) {
                           width: 40%;
                           display: flex;
                        }
                     }
                  }
                  @include mobile-small {
                     width: 70%;
                     text-align: center;
                     &:nth-child(1) {
                        margin-top: 0;
                     }
                     &:nth-child(2) {
                        margin-top: 20px;
                     }
                     &:nth-child(3) {
                        margin-top: 20px;
                     }
                     &:nth-child(4) {
                        margin-top: 20px;
                        width: 70%;
                        text-align: center;
                        > li:not(:nth-child(1)) {
                           width: 100%;
                           justify-content: center;
                        }
                     }
                  }
                  .head {
                     font-family: $condensed;
                     font-weight: 700;
                     color: rgba(#fff, .7);
                     font-size: 18px;
                     border-bottom: 1px solid rgba(#fff, .4);
                     padding: 10px 0;
                     margin-bottom: 7px;
                  }
                  > li {
                     padding: 2px 0;
                     > a {
                        color: rgba(#fff, .5);
                        font-weight: 300;
                        font-size: 12px;
                        transition: 0.2s;
                        &:hover {
                           color: rgba(#fff, 1);
                        }
                     }
                  }
               }
            }
         }
         .Ñontact_informat {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            width: 270px;
            align-items: flex-end;
            justify-content: space-between;
            padding: 30px 20px 20px;
            @include max1024 {
               width: 100%;
               flex-direction: row;
               justify-content: center;
            }
            @include mobile {
               flex-direction: column;
               align-items: center;
            }
            .contact_inform {
               height: 50px;
               display: flex;
               flex-direction: column;
               align-items: center;
               justify-content: space-around;
               @include max1024 {
                  height: 45px;
               }
               @include mobile {
                  margin: 25px 0;
               }
               address, .phone_number {
                  color: rgba(#fff, .8);
                  font-size: 14px;
                  font-weight: 300;
               }
               .phone_number {
                  transition: 0.2s;
                  &:hover {
                     color: rgba(#fff, 1);
                  }
               }
            }

            .order_call {
               @include parallelogram($w: 170px, $h:35px, $skew: 30deg, $color: transparent);
               border: 1px solid rgba(#fff, .8);
               transition: 0.2s;
               @include max1024 {
                  margin: 0 30px;
               }
               > span {
                  display: flex;
                  justify-content: center;
                  font-size: 12px;
                  text-transform: uppercase;
                  font-weight: 300;
                  color: rgba(#fff, .8);
                  transition: 0.2s;
               }
               &:hover {
                  background-color: rgba(#fff, .8);
                  > span {color: #333;}
               }
            }
            .social {
               display: flex;
               width: 135px;
               justify-content: space-between;
               @include max1024 {
                  margin: 0 30px;
               }
            }
         }
      }
   }
   .bottom_footer {
      width: 100%;
      height: 30px;
      background-color: #383838;
      @include mobile-small {
         height: 50px;
      }
      > .container {
         display: flex;
         align-items: center;
         justify-content: space-between;
         padding: 0 20px;
         @include mobile-small {
            flex-direction: column;
            justify-content: center;
            align-items: center;
         }
         .copyright {
            color: rgba(#fff, .5);
            font-size: 12px;
            font-weight: 300;
            @include mobile-small {
               padding: 4px;
            }
         }
         .develop {
            color: rgba(#fff, .5);
            font-size: 12px;
            font-weight: 300;
            @include mobile-small {
               padding: 4px;
            }
            > a {
               padding-left: 5px;
               color: rgba(#fff, .5);
               transition: 0.2s;
               &:hover {
                  color: rgba(#fff, 1);
               }
            }
         }
      }
   }
}
